<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyt.dao.UserMapper">
<!--    &lt;!&ndash;    在当前Mapper.xml中使用二级缓存 刷新缓存机制：FIFO – 先进先出：按对象进入缓存的顺序来移除它们。-->
<!--    每隔 60 秒刷新，最多可以存储结果对象或列表的 512 个引用，而且返回的对象被认为是只读的，因此对它们进行修改可能会在不同线程中的调用者产生冲突。&ndash;&gt;-->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>
<!--    <cache/>-->
    <!--  resultType="user" 实体类起了别名  -->
    <select id="queryById" resultType="user">
        select *
        from mybatis.user
        where id = #{id}
    </select>
    <update id="updateUser" parameterType="user">
        update mybatis.user
        set name=#{name},
            pwd=#{pwd}
        where id = #{id};
    </update>
</mapper>